@charset "UTF-8";

@font-face {
  font-family: "brandworkz-filled";
  src: url("./fonts/brandworkz-filled.eot");
  src: url("./fonts/brandworkz-filled.eot?#iefix") format("embedded-opentype"),
    url("./fonts/brandworkz-filled.woff") format("woff"),
    url("./fonts/brandworkz-filled.ttf") format("truetype"),
    url("./fonts/brandworkz-filled.svg#brandworkz-filled") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "brandworkz-filled" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bwkz-filled-icon-"]:before,
[class*=" bwkz-filled-icon-"]:before {
  font-family: "brandworkz-filled" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bwkz-filled-icon-door-exit:before {
  content: "\61";
}
.bwkz-filled-icon-video-meeting-circle:before {
  content: "\62";
}
.bwkz-filled-icon-volume-low-1:before {
  content: "\63";
}
.bwkz-filled-icon-account-circle-1:before {
  content: "\64";
}
.bwkz-filled-icon-door-enter:before {
  content: "\65";
}
.bwkz-filled-icon-home-1:before {
  content: "\66";
}
.bwkz-filled-icon-delete-1:before {
  content: "\67";
}
.bwkz-filled-icon-help-circle:before {
  content: "\68";
}
.bwkz-filled-icon-search:before {
  content: "\69";
}
.bwkz-filled-icon-download-harddrive-1:before {
  content: "\6e";
}
.bwkz-filled-icon-book-1:before {
  content: "\6f";
}
.bwkz-filled-icon-folder-hierarchy-1:before {
  content: "\71";
}
.bwkz-filled-icon-share:before {
  content: "\72";
}
.bwkz-filled-icon-copy-1:before {
  content: "\6b";
}
.bwkz-filled-icon-pencil-2-1:before {
  content: "\74";
}
.bwkz-filled-icon-bin-1:before {
  content: "\6a";
}
.bwkz-filled-icon-clock-2-1:before {
  content: "\6d";
}
.bwkz-filled-icon-hide:before {
  content: "\6c";
}
.bwkz-filled-icon-cursor-move-3:before {
  content: "\70";
}
.bwkz-filled-icon-navigation-show-more-1:before {
  content: "\73";
}
.bwkz-filled-icon-folder-add:before {
  content: "\75";
}
.bwkz-filled-icon-cloud-upload:before {
  content: "\76";
}
.bwkz-filled-icon-account-group-1:before {
  content: "\77";
}
.bwkz-filled-icon-arrange-letter:before {
  content: "\78";
}
.bwkz-filled-icon-filter-2:before {
  content: "\79";
}
.bwkz-filled-icon-view-list:before {
  content: "\7a";
}
.bwkz-filled-icon-view-module-1:before {
  content: "\41";
}
.bwkz-filled-icon-view-module-2:before {
  content: "\42";
}
.bwkz-filled-icon-view-2:before {
  content: "\43";
}
.bwkz-filled-icon-folder-1:before {
  content: "\44";
}
.bwkz-filled-icon-floppy-disk:before {
  content: "\46";
}
.bwkz-filled-icon-add-box:before {
  content: "\4a";
}
.bwkz-filled-icon-report-problem-triangle:before {
  content: "\4c";
}
.bwkz-filled-icon-email-send-3:before {
  content: "\4d";
}
.bwkz-filled-icon-email-read-2:before {
  content: "\4e";
}
.bwkz-filled-icon-infomation-circle:before {
  content: "\4f";
}
.bwkz-filled-icon-calendar-2:before {
  content: "\50";
}
.bwkz-filled-icon-file-video-2-1:before {
  content: "\51";
}
.bwkz-filled-icon-file-music-1-1:before {
  content: "\45";
}
.bwkz-filled-icon-file-picture-1:before {
  content: "\52";
}
.bwkz-filled-icon-file-module-edit:before {
  content: "\53";
}
.bwkz-filled-icon-file-new-2:before {
  content: "\54";
}
.bwkz-filled-icon-link-3:before {
  content: "\47";
}
.bwkz-filled-icon-copy-paste:before {
  content: "\48";
}
.bwkz-filled-icon-navigation-next-1:before {
  content: "\49";
}
.bwkz-filled-icon-copy-3:before {
  content: "\4b";
}
.bwkz-filled-icon-bookmark-all-1:before {
  content: "\55";
}
.bwkz-filled-icon-hand-tap-swipe-vertical:before {
  content: "\56";
}
.bwkz-filled-icon-arrow-circle-left-3:before {
  content: "\57";
}
.bwkz-filled-icon-navigation-drawer-1:before {
  content: "\58";
}
.bwkz-filled-icon-remove-circle-1:before {
  content: "\59";
}
.bwkz-filled-icon-expand-all-1:before {
  content: "\5a";
}
.bwkz-filled-icon-window-link-code:before {
  content: "\30";
}
.bwkz-filled-icon-email:before {
  content: "\31";
}
.bwkz-filled-icon-new-square:before {
  content: "\32";
}
.bwkz-filled-icon-bubble-chat-3:before {
  content: "\33";
}
.bwkz-filled-icon-close:before {
  content: "\34";
}
.bwkz-filled-icon-cog:before {
  content: "\35";
}
.bwkz-filled-icon-check-1:before {
  content: "\36";
}
.bwkz-filled-icon-split:before {
  content: "\37";
}
.bwkz-filled-icon-account-files:before {
  content: "\38";
}
.bwkz-filled-icon-file-format-xls-1:before {
  content: "\39";
}
.bwkz-filled-icon-file-format-ppt-1:before {
  content: "\21";
}
.bwkz-filled-icon-file-powerpoint-show-1:before {
  content: "\22";
}
.bwkz-filled-icon-file-rtf-1:before {
  content: "\23";
}
.bwkz-filled-icon-file-keynote-1:before {
  content: "\24";
}
.bwkz-filled-icon-file-notepad-1:before {
  content: "\25";
}
.bwkz-filled-icon-file-format-pdf-1:before {
  content: "\26";
}
.bwkz-filled-icon-file-format-doc-1:before {
  content: "\27";
}
.bwkz-filled-icon-file-format-rar:before {
  content: "\28";
}
.bwkz-filled-icon-file-format-zip-1:before {
  content: "\29";
}
.bwkz-filled-icon-file-format-opentype-1:before {
  content: "\2a";
}
.bwkz-filled-icon-file-format-3ds-1:before {
  content: "\2b";
}
.bwkz-filled-icon-file-format-psd-1:before {
  content: "\2c";
}
.bwkz-filled-icon-file-format-dwg-1:before {
  content: "\2d";
}
.bwkz-filled-icon-file-format-truetype-1:before {
  content: "\2e";
}
.bwkz-filled-icon-file-format-dxf-1:before {
  content: "\2f";
}
.bwkz-filled-icon-file-format-illustrator-1:before {
  content: "\3a";
}
.bwkz-filled-icon-file-format-indd-1:before {
  content: "\3b";
}
.bwkz-filled-icon-file-format-max-1:before {
  content: "\3c";
}
.bwkz-filled-icon-file-format-tiff-1:before {
  content: "\3d";
}
.bwkz-filled-icon-file-format-bmp-1:before {
  content: "\3e";
}
.bwkz-filled-icon-file-format-eps-1:before {
  content: "\3f";
}
.bwkz-filled-icon-file-format-gif-1:before {
  content: "\40";
}
.bwkz-filled-icon-file-format-jpg-1:before {
  content: "\5b";
}
.bwkz-filled-icon-file-format-png-1:before {
  content: "\5d";
}
.bwkz-filled-icon-file-format-svg-1:before {
  content: "\5e";
}
.bwkz-filled-icon-file-format-aac-1:before {
  content: "\5f";
}
.bwkz-filled-icon-file-format-aif-1:before {
  content: "\60";
}
.bwkz-filled-icon-file-format-midi-1:before {
  content: "\7b";
}
.bwkz-filled-icon-file-format-mp3-1:before {
  content: "\7c";
}
.bwkz-filled-icon-file-format-wav-1:before {
  content: "\7d";
}
.bwkz-filled-icon-file-format-avi-1:before {
  content: "\7e";
}
.bwkz-filled-icon-file-format-flv-1:before {
  content: "\5c";
}
.bwkz-filled-icon-file-format-m4v-1:before {
  content: "\e000";
}
.bwkz-filled-icon-file-format-mov-1:before {
  content: "\e001";
}
.bwkz-filled-icon-file-format-mp4-1:before {
  content: "\e002";
}
.bwkz-filled-icon-file-format-mpg-1:before {
  content: "\e003";
}
.bwkz-filled-icon-file-format-qt-1:before {
  content: "\e004";
}
.bwkz-filled-icon-file-format-apk-1:before {
  content: "\e005";
}
.bwkz-filled-icon-file-format-app-1:before {
  content: "\e006";
}
.bwkz-filled-icon-file-format-asp-1:before {
  content: "\e007";
}
.bwkz-filled-icon-file-format-bin-1:before {
  content: "\e008";
}
.bwkz-filled-icon-file-format-c-plus-plus-1:before {
  content: "\e009";
}
.bwkz-filled-icon-file-format-css-1:before {
  content: "\e00a";
}
.bwkz-filled-icon-file-format-csv-1:before {
  content: "\e00b";
}
.bwkz-filled-icon-file-format-dat-1:before {
  content: "\e00c";
}
.bwkz-filled-icon-file-format-dmg-1:before {
  content: "\e00d";
}
.bwkz-filled-icon-file-format-exe-1:before {
  content: "\e00e";
}
.bwkz-filled-icon-file-format-hqx-1:before {
  content: "\e00f";
}
.bwkz-filled-icon-file-format-html-1:before {
  content: "\e010";
}
.bwkz-filled-icon-file-format-iso-1:before {
  content: "\e011";
}
.bwkz-filled-icon-file-format-java-1:before {
  content: "\e012";
}
.bwkz-filled-icon-file-format-javascript-1:before {
  content: "\e013";
}
.bwkz-filled-icon-file-format-php-1:before {
  content: "\e014";
}
.bwkz-filled-icon-file-format-pl-1:before {
  content: "\e015";
}
.bwkz-filled-icon-file-format-py-1:before {
  content: "\e016";
}
.bwkz-filled-icon-file-format-rb-1:before {
  content: "\e017";
}
.bwkz-filled-icon-file-format-sql-1:before {
  content: "\e018";
}
.bwkz-filled-icon-file-format-xml-1:before {
  content: "\e019";
}
.bwkz-filled-icon-file-format-ym-1:before {
  content: "\e01a";
}
.bwkz-filled-icon-file-terminal:before {
  content: "\e01b";
}
.bwkz-filled-icon-file-code-1:before {
  content: "\e01c";
}
.bwkz-filled-icon-file-copyright:before {
  content: "\e01d";
}
.bwkz-filled-icon-file-creative-commons:before {
  content: "\e01e";
}
.bwkz-filled-icon-file-registered-trademark:before {
  content: "\e01f";
}
.bwkz-filled-icon-file-trademark:before {
  content: "\e020";
}
.bwkz-filled-icon-arrow-down-10:before {
  content: "\e021";
}
.bwkz-filled-icon-arrow-right-10:before {
  content: "\e022";
}
.bwkz-filled-icon-school-listening-book:before {
  content: "\e023";
}
.bwkz-filled-icon-arrow-right-12:before {
  content: "\e024";
}
.bwkz-filled-icon-arrow-left-12:before {
  content: "\e025";
}
.bwkz-filled-icon-arrow-left-8:before {
  content: "\e026";
}
.bwkz-filled-icon-arrow-right-8:before {
  content: "\e027";
}
.bwkz-filled-icon-control-play:before {
  content: "\e028";
}
.bwkz-filled-icon-control-pause:before {
  content: "\e029";
}
.bwkz-filled-icon-volume-down-1:before {
  content: "\e02a";
}
.bwkz-filled-icon-volume-max-1:before {
  content: "\e02b";
}
.bwkz-filled-icon-volume-medium-1:before {
  content: "\e02c";
}
.bwkz-filled-icon-flow-chart-2:before {
  content: "\e02d";
}
.bwkz-filled-icon-loading-1:before {
  content: "\e02e";
}
.bwkz-filled-icon-network-world:before {
  content: "\e02f";
}
.bwkz-filled-icon-file-new-1:before {
  content: "\e030";
}
.bwkz-filled-icon-list-number:before {
  content: "\e031";
}
.bwkz-filled-icon-arrow-box-right-4:before {
  content: "\e032";
}
.bwkz-filled-icon-arrow-box-up-1:before {
  content: "\e033";
}
.bwkz-filled-icon-arrow-box-up-2:before {
  content: "\e034";
}
.bwkz-filled-icon-email-send-1:before {
  content: "\e035";
}
.bwkz-filled-icon-cursor-select-area:before {
  content: "\e036";
}
.bwkz-filled-icon-reply:before {
  content: "\e037";
}
.bwkz-filled-icon-radar-screen:before {
  content: "\e038";
}
.bwkz-filled-icon-paint-palette:before {
  content: "\e039";
}
.bwkz-filled-icon-globe-3:before {
  content: "\e03a";
}
.bwkz-filled-icon-network:before {
  content: "\e03b";
}
.bwkz-filled-icon-artist:before {
  content: "\e03c";
}
.bwkz-filled-icon-group-lock:before {
  content: "\e03d";
}
.bwkz-filled-icon-picture-3:before {
  content: "\e03e";
}
.bwkz-filled-icon-graph-line-2:before {
  content: "\e03f";
}
.bwkz-filled-icon-flowchart:before {
  content: "\e040";
}
.bwkz-filled-icon-network-search:before {
  content: "\e041";
}
.bwkz-filled-icon-key-1:before {
  content: "\e042";
}
.bwkz-filled-icon-user-login:before {
  content: "\e043";
}
.bwkz-filled-icon-tag:before {
  content: "\e044";
}
.bwkz-filled-icon-tags:before {
  content: "\e045";
}
.bwkz-filled-icon-bold:before {
  content: "\e046";
}
.bwkz-filled-icon-bold-1:before {
  content: "\e047";
}
.bwkz-filled-icon-italic:before {
  content: "\e048";
}
.bwkz-filled-icon-italic-1:before {
  content: "\e049";
}
.bwkz-filled-icon-underline:before {
  content: "\e04a";
}
.bwkz-filled-icon-code:before {
  content: "\e04b";
}
.bwkz-filled-icon-braille:before {
  content: "\e04c";
}
.bwkz-filled-icon-code-1:before {
  content: "\e04d";
}
.bwkz-filled-icon-user:before {
  content: "\e04e";
}
.bwkz-filled-icon-adobe-cc:before {
  content: "\e04f";
}
.bwkz-filled-icon-creative-cloud-icon:before {
  content: "\e050";
}
.bwkz-filled-icon-super-admin-gold-key:before {
  content: "\e051";
}
.bwkz-filled-icon-lock-close-3:before {
  content: "\e053";
}
.bwkz-filled-icon-id-card-4:before {
  content: "\e052";
}
.bwkz-filled-icon-certificate-2:before {
  content: "\e054";
}
.bwkz-filled-icon-check-circle-2:before {
  content: "\e055";
}
.bwkz-filled-icon-folder-view-1:before {
  content: "\e056";
}
.bwkz-filled-icon-reports:before {
  content: "\e057";
}
.bwkz-filled-icon-pages:before {
  content: "\e058";
}
.bwkz-filled-icon-disk:before {
  content: "\e059";
}
.bwkz-filled-icon-folder:before {
  content: "\e05a";
}
.bwkz-filled-icon-workflow:before {
  content: "\e05b";
}
.bwkz-filled-icon-logins:before {
  content: "\e05c";
}
.bwkz-filled-icon-albums:before {
  content: "\e05d";
}
.bwkz-filled-icon-assets:before {
  content: "\e05e";
}
.bwkz-filled-icon-search-1:before {
  content: "\e05f";
}
.bwkz-filled-icon-users:before {
  content: "\e060";
}
.bwkz-filled-icon-w2p:before {
  content: "\e061";
}
.bwkz-filled-icon-help:before {
  content: "\e062";
}
.bwkz-filled-icon-profile:before {
  content: "\e063";
}
.bwkz-filled-icon-home:before {
  content: "\e064";
}
.bwkz-filled-icon-info:before {
  content: "\e065";
}
.bwkz-filled-icon-my-stuff:before {
  content: "\e066";
}
